.Web {
background: #4D5AE5;
font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
}
.Studio {
    background: #2E2F42;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
}